/* 1. Import Inter Font first */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

      /* =========================================
      1. COLORS
      ========================================= */
      /*Default Colors*/
      --color-black:       #000000; 
      --color-white:       #ffffff; 

      /* BRANDING: The main colors of Udyantra */
      --color-primary:        #018580; /* Rich Teal / Persian Green */
      --color-primary-light:  #6FC7C4; /* Light Sea Green (Hover state) */
      --color-primary-dark:   #02857F; /* Deep Teal (Active state / Text) */

      --color-secondary:      #6FC7C4;/* Soft Turquoise (Backgrounds / Accents) */
      
      /*Border Colors*/
      --color-gray-100: #f3f4f6;
      --color-borderBase: #374151;
      --color-borderAround: #263544;
      --color-borderButn: #00C6D9;

      /*Text Colors*/
      --color-textBlack: #0e141a;
      /*Horizontal Line*/
      --color-hrGray: #d9d9d9;
      
      /* Define the shadow here using the variable */
      --shadow-hard: -3px 3px 0px 0px var(--color-borderBase);
      
      /*Background Colors*/
      --color-lightgray:#f0f0f0;/*Light Gray background*/
      /* =========================================
        2. TYPOGRAPHY
        ========================================= */
      
      /* Body Text (Clean, readable) */
        --font-sans: "Inter", sans-serif;

      /* Font Size */
      --text-sizeDesktop: 2.25rem;
      --text-sizeMobile: 1.625rem;
      



}
