.fade-sides::before,
    .fade-sides::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    }

    .fade-sides::before {
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    border-radius: 12px 0px 0px 12px;
    }

    .fade-sides::after {
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
    border-radius: 0px 12px 12px 0px;
    }

    @media (max-width: 991px) {
        .fade-sides::before,
        .fade-sides::after {
            display: none;
        }
        }