name: Deploy Laravel Blade to DigitalOcean

on:
  push:
    branches:
      - main   # or dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # --- NEW: SETUP NODE & BUILD --- by pk
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Frontend Assets
        run: |
          npm ci
          npm run build
          rm -rf node_modules # Remove source files to speed up upload
      # ------------------------------- by pk

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Upload project to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          source: "."
          target: ${{ secrets.APP_DIR }}

      - name: Run Laravel commands on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            cd ${{ secrets.APP_DIR }}

            php artisan migrate --force || true
            php artisan storage:link || true

            php artisan optimize:clear
            php artisan optimize

            chown -R www-data:www-data .
            chmod -R 775 storage bootstrap/cache
