name: Deploy Website (Staging)

on:
  push:
    branches: ["dev"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH for BigRock
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.BIGROCK_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          cat <<EOF > ~/.ssh/config
          Host bigrock
            HostName ${{ secrets.BIGROCK_HOST }}
            User ${{ secrets.BIGROCK_USER }}
            IdentityFile ~/.ssh/id_rsa
            KexAlgorithms +diffie-hellman-group-exchange-sha256
            PubkeyAcceptedKeyTypes +ssh-rsa
            HostKeyAlgorithms +ssh-rsa
          EOF
          chmod 600 ~/.ssh/config

      - name: Deploy Website via rsync
        uses: burnett01/rsync-deployments@v5.2
        with:
          switches: -avzr --delete
          path: "./"
          remote_path: "/home1/a1662bta/demo/udyantra/staging/"
          remote_host: bigrock
          remote_port: 22
